{% extends 'base.html' %}

{% block title  %}About{% endblock title  %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<div class="container">
<h2>About gyanlo:</h2>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Gain Knowledge! Spread Knowledge!</strong>
                <h3 class="mb-0">About</h3>
                
            <div class="text-center">
                <img src="/static/img/shivam1.jpg" class="rounded" alt="loading...">
        
                <p>This is a blogging website designed by Shivam where you can find many related and relevent articles without any misleading content. Make a account and read all contents and post your views. The site is for educational purpose and hence it's free.</p>
            </div>
            </div>
            <div class="col-auto d-none d-lg-block">

            </div>
        </div>
    </div>
</div>
{% endblock body %}